{{!< default}}

<section class="photo-post-header" style="padding-bottom: var(--space-4xl);">
    <h1 class="photo-post-title">Your account</h1>
    <p class="photo-post-excerpt">Manage your subscription and email preferences.</p>
    <div style="margin-top: var(--space-2xl);">
        <a href="javascript:void(0)" data-members-signout style="color: var(--color-accent);">Sign out</a>
    </div>
</section>
